    <section class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-md  navbar-dark" style="background-color: black;">
			<!-- Brand -->
			<a class="navbar-brand" href='/home'><img src="../static/images/logo.jpg" height="170"></a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
					<a class="nav-link text-primary" href='/home'>HOME</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-danger" href='/games'>GAMES</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/tech'>TECH</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-danger" href='/contacts'>CONTACT US</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/new_arrivals'>NEW ARRIVALS</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/tournament_application'>TOURNAMENTS</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-danger" href='/cart'>MY CART</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/my_orders'>MY ORDERS</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-danger" href='/client_update'>ACCOUNT INFORMATION UPDATE</a>
					</li>
					<li class="nav-item">
					<a class="nav-link text-primary" href='/logout'>LOGOUT</a>
					</li>

				</ul>
			</div>
			</nav>
		</div>
	</section>
