<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- we will need jquery file later -->
	<script type="text/javascript" src="../static/js/jquery.js"></script>

	<!-- below is a javascript file,,helps in interactivity -->
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body style="background-color:#000;">
{% include 'navbar.html' %}
<section class="row">
	<div class="col-md-10">
		<h2 class="text-primary text-center"> <b>OUR TECH</b></h2>
		<hr class="bg-primary">
		<h3 class="text-center text-white ">Here are the best gaming tech that we can offer currently. Buy for a better gaming experience. Enjoy... </h3>
	</div>

	<div class="col-md-2">
		<form action="/tech_search" method="post">
				<input type="text" name="tech_search">
				<input type="submit" value="search">
		</form>
	</div>
</section>

<section class="row" style="background-color:#000033">
	{% for row in rows %}
	<div class="col-md-4">
		<div class="card">
<!--			image-->
			<a href="/purchase_tech/{{row[0]}}"><img src="static/tech/{{row[2]}}" height="300" width="100%" alt=""></a>
			<div class="card-body" style="background-color:#000033">
<!--				name of product-->
				<h3><b class="card-title text-white" >{{ row[1] }}</b></h3> <br>
<!--				cost-->
				<p class="text-white"> KSH: {{ row[3] }}</p><br>
<!--				order button-->
				<a href="/purchase_tech/{{row[0]}}" class="btn btn-outline-primary">ORDER</a>
			</div>
		</div>
	</div>
	{% endfor %}
</section>
<hr class="bg-primary" width="75%">
<hr class="bg-danger" width="75%">
{% include 'footer.html' %}
</body>
</html>